### Intro: find missing data

In [42]:
import pandas as pd
import numpy as np
import math

In [43]:
# Here's building a function using def: 

def square_root(x): return math.sqrt(x)

In [44]:
# Here's building the same function using lambda

square_root_lambda = lambda x: math.sqrt(x)

In [45]:
# Use the isnull() method to detect the missing values. The output
# shows True when the value is missing. By adding an index into 
# the dataset, you obtain just the entries that are missing.
# A dataset could represent missing data in several ways. In this 
# example, you see missing data represented as np.NaN (NumPy Not 
# a Number) and the Python None value.

s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
print s.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

### Intro: fill in missing data

In [46]:
# To fill in missing data use fillna(). For fillna() you need to 
# provide a number. Usually, the mean, median, or mode is used. 
# Let's use the same data set and this time let's fill in missing 
# values with the mean. 

s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
print s.fillna(int(s.mean()))

0    1
1    2
2    3
3    3
4    5
5    6
6    3
dtype: float64

In [47]:
# We could also just drop all the NAs, by using dropna()

print s.dropna()

0    1
1    2
2    3
4    5
5    6
dtype: float64

### Write the equivalent lambda function

In [48]:
# Write the equivalent lambda function for the following def 
# function: 

def f (x): return x**2
print f(8)

64

In [49]:
# equivalent lambda function

g = lambda x: x**2
print g(8)

64

### Lab 3.4

In [53]:
# read in the raw data from the github url

data = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")
data

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN
5,/organization/n-plusn,#NAME?,http://plusn.com,|Software|,Software,"600,000",operating,USA,NY,New York City,New York,1,1/1/12,2012-01,2012-Q1,2012,8/29/12,8/29/12,NaN
6,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011,5/31/13,5/31/13,NaN
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,|Advertising|,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07,NaN
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007,3/19/08,3/19/08,NaN
9,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010,7/24/14,7/24/14,NaN
10,/organization/0xdata,0xdata,http://www.0xdata.com,|Analytics|,Analytics,"1,700,000",operating,USA,CA,SF Bay Area,Mountain View,1,1/1/11,2011-01,2011-Q1,2011,1/3/13,1/3/13,NaN
11,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,|E-Commerce|,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012,2/18/13,2/18/13,NaN
12,/organization/1-4-all,1-4 All,NaN,|Entertainment|Games|Software|,Entertainment,-,operating,USA,NC,North Carolina,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13,NaN
13,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986,8/19/10,8/19/10,NaN
14,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984,3/2/11,3/2/11,NaN
15,/organization/1-618-technology,1.618 Technology,NaN,|Real Estate|,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013,1/22/14,1/22/14,NaN
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001,6/18/09,12/28/11,NaN
17,/organization/1000-corks,1000 Corks,http://1000corks.com,|Search|,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008,8/23/11,8/23/11,NaN
18,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Art,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009,5/15/09,5/15/09,NaN
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,|Curated Web|,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11,NaN
20,/organization/1000memories,1000memories,http://1000memories.com,|Curated Web|,Curated Web,"2,535,000",acquired,USA,CA,SF Bay Area,San Francisco,2,7/1/10,2010-07,2010-Q3,2010,1/1/10,2/16/11,NaN
21,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,|Curated Web|,Curated Web,"4,462,651",operating,USA,WA,Seattle,Bellevue,4,1/1/08,2008-01,2008-Q1,2008,10/14/09,1/15/14,NaN
22,/organization/1001-menus,1001 Menus,http://1001menus.com,|Local Businesses|Restaurants|,Local Businesses,"1,869,079",operating,FRA,NaN,Paris,Paris,2,11/20/10,2010-11,2010-Q4,2010,12/27/12,11/13/13,NaN
23,/organization/1006-tv,1006.tv,http://www.1006.tv/,|Media|Games|,Games,"10,000,000",operating,NaN,NaN,Beijing,Beijing,3,1/1/09,2009-01,2009-Q1,2009,1/1/11,7/31/14,NaN
24,/organization/100du-tv,100du.tv,http://www.100du.com,|Hospitality|,Hospitality,"3,000,000",operating,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1/7/08,8/13/10,NaN
25,/organization/100e-com,100e.com,http://www.100e.com,|Education|,Education,"3,000,000",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,1/1/06,1/1/06,NaN
26,/organization/100plus,100Plus,http://www.100plus.com,|Analytics|,Analytics,"1,250,000",acquired,USA,CA,SF Bay Area,San Francisco,2,9/16/11,2011-09,2011-Q3,2011,11/2/11,11/30/11,NaN
27,/organization/1010data,1010data,http://www.1010data.com,|Software|,Software,"35,000,000",operating,USA,NY,New York City,New York,1,1/1/00,2000-01,2000-Q1,2000,3/8/10,3/8/10,NaN
28,/organization/10bestthings,10BestThings,http://10bestthings.com,|Curated Web|,Curated Web,"50,000",closed,USA,OH,Cleveland,Cleveland,1,4/1/09,2009-04,2009-Q2,2009,4/1/09,4/1/09,NaN
29,/organization/10sec,10sec,https://10s.ec/,|Social Commerce|E-Commerce|Mobile Commerce|,E-Commerce,"1,600,000",NaN,NaN,NaN,NaN,NaN,1,7/8/13,2013-07,2013-Q3,2013,5/8/14,5/8/14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44920,/organization/zweitgeist,zweitgeist,http://www.weblin.com,|Messaging|Software|,Messaging,"651,000",operating,DEU,NaN,Hamburg,Hamburg,1,6/24/06,2006-06,2006-Q2,2006,2/1/07,2/1/07,NaN
44921,/organization/zwipe,Zwipe,http://zwipe.com,|Mobile|,Mobile,"3,500,000",operating,NOR,NaN,NaN,0152 Oslo,1,1/1/09,2009-01,2009-Q1,2009,12/10/13,12/10/13,NaN
44922,/organization/zwittle,Zwittle,http://zwittle.com,|Software|,Software,"190,000",operating,USA,UT,Salt Lake City,Logan,1,1/1/11,2011-01,2011-Q1,2011,4/19/12,4/19/12,NaN
44923,/organization/zwoor-com,zwoor.com,http://www.zwoor.com,|Meeting Software|Polling|Surveys|Android|iPho...,Android,"100,000",operating,NaN,NaN,NaN,NaN,1,1/1/10,2010-01,2010-Q1,2010,1/1/11,1/1/11,NaN
44924,/organization/zyante,Zyante,http://www.zyante.com,|News|,News,"870,000",operating,USA,CA,SF Bay Area,Los Gatos,2,1/1/12,2012-01,2012-Q1,2012,12/1/13,4/2/14,NaN
44925,/organization/zyb,ZYB,http://zyb.com,|Social Network Media|Networking|Mobile|,Mobile,"3,845,100",acquired,DNK,NaN,Copenhagen,Copenhagen,2,NaN,NaN,NaN,NaN,1/1/05,9/1/06,NaN
44926,/organization/zyga-technology,Zyga,http://www.zyga.com,|Medical Devices|Health Care|,Health Care,"45,750,000",operating,USA,MN,Minneapolis,Minnetonka,4,1/1/08,2008-01,2008-Q1,2008,10/6/08,12/16/13,NaN
44927,/organization/zygo,Zygo Communications,http://www.zygocommunications.com/who,|SMS|Mobile|,Mobile,-,closed,GBR,NaN,London,London,1,6/21/05,2005-06,2005-Q2,2005,11/19/07,11/19/07,NaN
44928,/organization/zygo-corporation,Zygo Corporation,http://www.zygo.com,|Manufacturing|,Manufacturing,"9,000,000",NaN,USA,CT,Connecticut,Middlefield,1,NaN,NaN,NaN,NaN,10/24/11,10/24/11,NaN
44929,/organization/zyken-nightcove,Zyken - NightCove,http://www.zyken.com,|Design|Health and Wellness|Hardware + Software|,Design,"3,384,225",acquired,FRA,NaN,Paris,Paris-l'hopital,4,1/1/05,2005-01,2005-Q1,2005,1/1/05,4/1/12,NaN
44930,/organization/zykis,Zykis,http://zykis.com,|Data Security|Automotive|Portals|Education|Ki...,Automotive,"800,000",closed,USA,CA,Anaheim,Irvine,1,10/27/06,2006-10,2006-Q4,2006,10/27/06,10/27/06,NaN
44931,/organization/zylie-the-bear,Zylie the Bear,http://zyliethebear.com,|E-Commerce|,E-Commerce,"75,000",operating,USA,CT,Hartford,Greenwich,1,1/1/09,2009-01,2009-Q1,2009,6/7/12,6/7/12,NaN
44932,/organization/zyme-solutions,Zyme Solutions,http://www.zymesolutions.com,|Hardware|Hardware + Software|,Hardware,"12,039,999",operating,USA,CA,California,Redwood Shores,5,1/1/04,2004-01,2004-Q1,2004,9/12/05,5/1/14,NaN
44933,/organization/zymetis,Zymetis,http://www.zymetis.com,|Biotechnology|,Biotechnology,"2,257,464",closed,USA,MD,Maryland,College Park,2,1/1/06,2006-01,2006-Q1,2006,1/11/10,1/31/10,NaN
44934,/organization/zymeworks,Zymeworks,http://zymeworks.com,|Biotechnology|,Biotechnology,"38,900,000",operating,CAN,AB,Vancouver,Vancouver,5,4/1/04,2004-04,2004-Q2,2004,3/3/08,1/9/14,NaN
44935,/organization/zympi,Zympi,http://www.zympi.com,|Networking|Web Hosting|Mobile|,Mobile,-,operating,NaN,NaN,NaN,NaN,1,9/3/10,2010-09,2010-Q3,2010,11/22/11,11/22/11,NaN
44936,/organization/zyncd,Zyncd,http://www.zyncd.com,|Knowledge Management|Crowdsourcing|,Crowdsourcing,-,operating,GBR,NaN,London,London,1,1/1/14,2014-01,2014-Q1,2014,2/1/14,2/1/14,NaN
44937,/organization/zyncro,Zyncro,http://www.zyncro.com,|Social Business|Enterprise 2.0|Cloud Computin...,Cloud Computing,"3,805,520",operating,ESP,NaN,Barcelona,Barcelona,2,9/1/09,2009-09,2009-Q3,2009,4/5/11,2/3/12,NaN
44938,/organization/zynga,Zynga,http://www.zynga.com,|Technology|Facebook Applications|Networking|G...,Facebook Applications,"866,550,786",operating,USA,CA,SF Bay Area,San Francisco,9,7/1/07,2007-07,2007-Q3,2007,1/1/07,2/18/11,NaN
44939,/organization/zyngenia,Zyngenia,http://www.zyngenia.com,|Biotechnology|,Biotechnology,"25,000,000",operating,USA,MD,Maryland,Gaithersburg,1,1/1/08,2008-01,2008-Q1,2008,9/9/10,9/9/10,NaN
44940,/organization/zynstra,Zynstra,http://www.zynstra.com,|Software|,Software,"14,750,000",operating,GBR,NaN,Bath,Bath,4,11/30/11,2011-11,2011-Q4,2011,3/3/12,7/9/14,NaN
44941,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,|Biotechnology|,Biotechnology,"34,275,015",operating,USA,MO,Missouri,Fremont,4,1/1/98,1998-01,1998-Q1,1998,1/29/10,3/26/14,NaN
44942,/organization/zyraz-technology,Zyraz Technology,http://www.zyraz.com,|Biotechnology|,Biotechnology,"15,398,910",closed,MYS,NaN,Kuala Lumpur,Damansara New Village,3,1/1/94,1994-01,1994-Q1,1994,1/1/08,10/9/09,NaN
44943,/organization/zyrra,Zyrra,http://www.zyrra.com,|E-Commerce|,E-Commerce,"1,510,500",operating,USA,MA,Boston,Cambridge,4,NaN,NaN,NaN,NaN,10/21/10,10/18/12,NaN
44944,/organization/zytoprotec,Zytoprotec,http://www.zytoprotec.com,|Biotechnology|,Biotechnology,"2,686,600",operating,AUT,NaN,Gerasdorf Bei Wien,Gerasdorf Bei Wien,1,1/1/07,2007-01,2007-Q1,2007,1/29/13,1/29/13,NaN
44945,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Analytics,"120,000",operating,GBR,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013,3/24/14,3/24/14,NaN
44946,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"1,587,301",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,NaN
44947,/organization/zzzzapp-com,Zzzzapp!,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Advertising,"71,525",operating,HRV,NaN,Split,Split,3,5/13/12,2012-05,2012-Q2,2012,11/1/11,8/1/13,NaN
44948,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,"9,300,000",operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,NaN
44949,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"45,000,000",operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999,6/1/08,4/4/13,NaN

In [52]:
# find missing values

print data.isnull()

      permalink   name homepage_url category_list  market   \
0         False  False        False         False    False
1         False  False        False         False    False
2         False  False        False         False    False
3         False  False        False         False    False
4         False  False        False         False    False
5         False  False        False         False    False
6         False  False        False         False    False
7         False  False        False         False    False
8         False  False        False         False    False
9         False  False        False         False    False
10        False  False        False         False    False
11        False  False        False         False    False
12        False  False         True         False    False
13        False  False        False         False    False
14        False  False        False         False    False
15        False  False         True         False    False
16        False  False        False         False    False
17        False  False        False         False    False
18        False  False        False         False    False
19        False  False        False         False    False
20        False  False        False         False    False
21        False  False        False         False    False
22        False  False        False         False    False
23        False  False        False         False    False
24        False  False        False         False    False
25        False  False        False         False    False
26        False  False        False         False    False
27        False  False        False         False    False
28        False  False        False         False    False
29        False  False        False         False    False
...         ...    ...          ...           ...      ...
44920     False  False        False         False    False
44921     False  False        False         False    False
44922     False  False        False         False    False
44923     False  False        False         False    False
44924     False  False        False         False    False
44925     False  False        False         False    False
44926     False  False        False         False    False
44927     False  False        False         False    False
44928     False  False        False         False    False
44929     False  False        False         False    False
44930     False  False        False         False    False
44931     False  False        False         False    False
44932     False  False        False         False    False
44933     False  False        False         False    False
44934     False  False        False         False    False
44935     False  False        False         False    False
44936     False  False        False         False    False
44937     False  False        False         False    False
44938     False  False        False         False    False
44939     False  False        False         False    False
44940     False  False        False         False    False
44941     False  False        False         False    False
44942     False  False        False         False    False
44943     False  False        False         False    False
44944     False  False        False         False    False
44945     False  False        False         False    False
44946     False  False        False         False    False
44947     False  False        False         False    False
44948     False  False        False         False    False
44949     False  False        False         False    False

       funding_total_usd  status country_code state_code region   city  \
0                   False   True        False       True  False  False
1                   False  False        False      False  False  False
2                   False  False        False      False  False  False
3                   False  False        False       True  False  False
4                   False  False        False       True  False  False
5                   False  False        False      False  False  False
6                   False   True        False      False  False  False
7                   False  False        False       True  False  False
8                   False  False         True       True   True   True
9                   False  False        False      False  False  False
10                  False  False        False      False  False  False
11                  False  False        False       True  False  False
12                  False  False        False      False  False  False
13                  False  False        False      False  False  False
14                  False  False        False      False  False  False
15                  False  False        False      False  False  False
16                  False  False        False      False  False  False
17                  False  False        False      False  False  False
18                  False  False         True       True   True   True
19                  False  False        False       True  False  False
20                  False  False        False      False  False  False
21                  False  False        False      False  False  False
22                  False  False        False       True  False  False
23                  False  False         True       True  False  False
24                  False  False         True       True   True   True
25                  False  False        False       True  False  False
26                  False  False        False      False  False  False
27                  False  False        False      False  False  False
28                  False  False        False      False  False  False
29                  False   True         True       True   True   True
...                   ...    ...          ...        ...    ...    ...
44920               False  False        False       True  False  False
44921               False  False        False       True   True  False
44922               False  False        False      False  False  False
44923               False  False         True       True   True   True
44924               False  False        False      False  False  False
44925               False  False        False       True  False  False
44926               False  False        False      False  False  False
44927               False  False        False       True  False  False
44928               False   True        False      False  False  False
44929               False  False        False       True  False  False
44930               False  False        False      False  False  False
44931               False  False        False      False  False  False
44932               False  False        False      False  False  False
44933               False  False        False      False  False  False
44934               False  False        False      False  False  False
44935               False  False         True       True   True   True
44936               False  False        False       True  False  False
44937               False  False        False       True  False  False
44938               False  False        False      False  False  False
44939               False  False        False      False  False  False
44940               False  False        False       True  False  False
44941               False  False        False      False  False  False
44942               False  False        False       True  False  False
44943               False  False        False      False  False  False
44944               False  False        False       True  False  False
44945               False  False        False       True  False  False
44946               False  False        False       True  False  False
44947               False  False        False       True  False  False
44948               False  False         True       True   True   True
44949               False  False        False      False  False  False

      funding_rounds founded_at founded_month founded_quarter founded_year  \
0              False       True          True            True         True
1              False      False         False           False        False
2              False       True          True            True         True
3              False      False         False           False        False
4              False      False         False           False        False
5              False      False         False           False        False
6              False      False         False           False        False
7              False       True          True            True         True
8              False      False         False           False        False
9              False      False         False           False        False
10             False      False         False           False        False
11             False      False         False           False        False
12             False       True          True            True         True
13             False      False         False           False        False
14             False      False         False           False        False
15             False      False         False           False        False
16             False      False         False           False        False
17             False      False         False           False        False
18             False      False         False           False        False
19             False       True          True            True         True
20             False      False         False           False        False
21             False      False         False           False        False
22             False      False         False           False        False
23             False      False         False           False        False
24             False       True          True            True         True
25             False       True          True            True         True
26             False      False         False           False        False
27             False      False         False           False        False
28             False      False         False           False        False
29             False      False         False           False        False
...              ...        ...           ...             ...          ...
44920          False      False         False           False        False
44921          False      False         False           False        False
44922          False      False         False           False        False
44923          False      False         False           False        False
44924          False      False         False           False        False
44925          False       True          True            True         True
44926          False      False         False           False        False
44927          False      False         False           False        False
44928          False       True          True            True         True
44929          False      False         False           False        False
44930          False      False         False           False        False
44931          False      False         False           False        False
44932          False      False         False           False        False
44933          False      False         False           False        False
44934          False      False         False           False        False
44935          False      False         False           False        False
44936          False      False         False           False        False
44937          False      False         False           False        False
44938          False      False         False           False        False
44939          False      False         False           False        False
44940          False      False         False           False        False
44941          False      False         False           False        False
44942          False      False         False           False        False
44943          False       True          True            True         True
44944          False      False         False           False        False
44945          False      False         False           False        False
44946          False       True          True            True         True
44947          False      False         False           False        False
44948          False       True          True            True         True
44949          False      False         False           False        False

      first_funding_at last_funding_at Unnamed: 18
0                False           False        True
1                False           False        True
2                False           False        True
3                False           False        True
4                False           False        True
5                False           False        True
6                False           False        True
7                False           False        True
8                False           False        True
9                False           False        True
10               False           False        True
11               False           False        True
12               False           False        True
13               False           False        True
14               False           False        True
15               False           False        True
16               False           False        True
17               False           False        True
18               False           False        True
19               False           False        True
20               False           False        True
21               False           False        True
22               False           False        True
23               False           False        True
24               False           False        True
25               False           False        True
26               False           False        True
27               False           False        True
28               False           False        True
29               False           False        True
...                ...             ...         ...
44920            False           False        True
44921            False           False        True
44922            False           False        True
44923            False           False        True
44924            False           False        True
44925            False           False        True
44926            False           False        True
44927            False           False        True
44928            False           False        True
44929            False           False        True
44930            False           False        True
44931            False           False        True
44932            False           False        True
44933            False           False        True
44934            False           False        True
44935            False           False        True
44936            False           False        True
44937            False           False        True
44938            False           False        True
44939            False           False        True
44940            False           False        True
44941            False           False        True
44942            False           False        True
44943            False           False        True
44944            False           False        True
44945            False           False        True
44946            False           False        True
44947            False           False        True
44948            False           False        True
44949            False           False        True

[44950 rows x 19 columns]

In [55]:
# fill in missing data with the mean

print data.fillna(data.mean())

                                               permalink  \
0                         /organization/canal-do-credito
1                                  /organization/waywire
2                        /organization/tv-communications
3                          /organization/rock-your-paper
4                         /organization/in-touch-network
5                                  /organization/n-plusn
6                             /organization/club-domains
7                             /organization/fox-networks
8                                  /organization/0-6-com
9                         /organization/004-technologies
10                                  /organization/0xdata
11                             /organization/1-2-3-listo
12                                 /organization/1-4-all
13                           /organization/1-800-dentist
14                           /organization/1-800-doctors
15                        /organization/1-618-technology
16                             /organization/10-20-media
17                              /organization/1000-corks
18                            /organization/1000-markets
19                       /organization/1000jobboersen-de
20                            /organization/1000memories
21                         /organization/1000museums-com
22                              /organization/1001-menus
23                                 /organization/1006-tv
24                                /organization/100du-tv
25                                /organization/100e-com
26                                 /organization/100plus
27                                /organization/1010data
28                            /organization/10bestthings
29                                   /organization/10sec
...                                                  ...
44920                           /organization/zweitgeist
44921                                /organization/zwipe
44922                              /organization/zwittle
44923                            /organization/zwoor-com
44924                               /organization/zyante
44925                                  /organization/zyb
44926                      /organization/zyga-technology
44927                                 /organization/zygo
44928                     /organization/zygo-corporation
44929                      /organization/zyken-nightcove
44930                                /organization/zykis
44931                       /organization/zylie-the-bear
44932                       /organization/zyme-solutions
44933                              /organization/zymetis
44934                            /organization/zymeworks
44935                                /organization/zympi
44936                                /organization/zyncd
44937                               /organization/zyncro
44938                                /organization/zynga
44939                             /organization/zyngenia
44940                              /organization/zynstra
44941                           /organization/zyomyx-inc
44942                     /organization/zyraz-technology
44943                                /organization/zyrra
44944                           /organization/zytoprotec
44945                                /organization/zzish
44946  /organization/zznode-science-and-technology-co...
44947                          /organization/zzzzapp-com
44948                         /organization/a-list-games
44949                                    /organization/x

                                name                           homepage_url  \
0                   Canal do Credito       http://www.canaldocredito.com.br
1                           #waywire                 http://www.waywire.com
2                 &TV Communications                  http://enjoyandtv.com
3                  'Rock' Your Paper           http://www.rockyourpaper.org
4                  (In)Touch Network          http://www.InTouchNetwork.com
5                             #NAME?                       http://plusn.com
6                      .Club Domains                       http://nic.club/
7                      .Fox Networks                  http://www.dotfox.com
8                            0-6.com                     http://www.0-6.com
9                   004 Technologies      http://004gmbh.de/en/004-interact
10                            0xdata                  http://www.0xdata.com
11                       1,2,3 Listo                http://www.123listo.com
12                           1-4 All                                    NaN
13                     1-800-DENTIST             http://www.1800dentist.com
14                     1-800-DOCTORS                 http://1800doctors.com
15                  1.618 Technology                                    NaN
16                       10-20 Media              http://www.10-20media.com
17                        1000 Corks                   http://1000corks.com
18                      1000 Markets             http://www.1000markets.com
19                 1000jobboersen.de           http://www.1000jobboersen.de
20                      1000memories                http://1000memories.com
21                   1000museums.com             http://www.1000museums.com
22                        1001 Menus                   http://1001menus.com
23                           1006.tv                    http://www.1006.tv/
24                          100du.tv                   http://www.100du.com
25                          100e.com                    http://www.100e.com
26                           100Plus                 http://www.100plus.com
27                          1010data                http://www.1010data.com
28                      10BestThings                http://10bestthings.com
29                             10sec                        https://10s.ec/
...                              ...                                    ...
44920                     zweitgeist                  http://www.weblin.com
44921                          Zwipe                       http://zwipe.com
44922                        Zwittle                     http://zwittle.com
44923                      zwoor.com                   http://www.zwoor.com
44924                         Zyante                  http://www.zyante.com
44925                            ZYB                         http://zyb.com
44926                           Zyga                    http://www.zyga.com
44927            Zygo Communications  http://www.zygocommunications.com/who
44928               Zygo Corporation                    http://www.zygo.com
44929              Zyken - NightCove                   http://www.zyken.com
44930                          Zykis                       http://zykis.com
44931                 Zylie the Bear                http://zyliethebear.com
44932                 Zyme Solutions           http://www.zymesolutions.com
44933                        Zymetis                 http://www.zymetis.com
44934                      Zymeworks                   http://zymeworks.com
44935                          Zympi                   http://www.zympi.com
44936                          Zyncd                   http://www.zyncd.com
44937                         Zyncro                  http://www.zyncro.com
44938                          Zynga                   http://www.zynga.com
44939                       Zyngenia                http://www.zyngenia.com
44940                        Zynstra                 http://www.zynstra.com
44941                         ZYOMYX                  http://www.zyomyx.com
44942               Zyraz Technology                   http://www.zyraz.com
44943                          Zyrra                   http://www.zyrra.com
44944                     Zytoprotec              http://www.zytoprotec.com
44945                          Zzish                   http://www.zzish.com
44946  ZZNode Science and Technology                  http://www.zznode.com
44947                       Zzzzapp!                 http://www.zzzzapp.com
44948                  [a]list games              http://www.alistgames.com
44949                          [x+1]               http://www.xplusone.com/

                                           category_list  \
0                   |Credit|Technology|Services|Finance|
1             |Entertainment|Politics|Social Media|News|
2                                                |Games|
3                                 |Publishing|Education|
4      |Electronics|Guides|Coffee|Restaurants|Music|i...
5                                             |Software|
6                                             |Software|
7                                          |Advertising|
8                                          |Curated Web|
9                                             |Software|
10                                           |Analytics|
11                                          |E-Commerce|
12                        |Entertainment|Games|Software|
13                                 |Health and Wellness|
14                                 |Health and Wellness|
15                                         |Real Estate|
16                                          |E-Commerce|
17                                              |Search|
18                         |Marketplaces|Art|E-Commerce|
19                                         |Curated Web|
20                                         |Curated Web|
21                                         |Curated Web|
22                        |Local Businesses|Restaurants|
23                                         |Media|Games|
24                                         |Hospitality|
25                                           |Education|
26                                           |Analytics|
27                                            |Software|
28                                         |Curated Web|
29          |Social Commerce|E-Commerce|Mobile Commerce|
...                                                  ...
44920                               |Messaging|Software|
44921                                           |Mobile|
44922                                         |Software|
44923  |Meeting Software|Polling|Surveys|Android|iPho...
44924                                             |News|
44925           |Social Network Media|Networking|Mobile|
44926                      |Medical Devices|Health Care|
44927                                       |SMS|Mobile|
44928                                    |Manufacturing|
44929   |Design|Health and Wellness|Hardware + Software|
44930  |Data Security|Automotive|Portals|Education|Ki...
44931                                       |E-Commerce|
44932                     |Hardware|Hardware + Software|
44933                                    |Biotechnology|
44934                                    |Biotechnology|
44935                    |Networking|Web Hosting|Mobile|
44936               |Knowledge Management|Crowdsourcing|
44937  |Social Business|Enterprise 2.0|Cloud Computin...
44938  |Technology|Facebook Applications|Networking|G...
44939                                    |Biotechnology|
44940                                         |Software|
44941                                    |Biotechnology|
44942                                    |Biotechnology|
44943                                       |E-Commerce|
44944                                    |Biotechnology|
44945  |Analytics|Gamification|Developer APIs|iOS|And...
44946                              |Enterprise Software|
44947      |Web Development|Advertising|Wireless|Mobile|
44948                                            |Games|
44949                              |Enterprise Software|

                       market   funding_total_usd      status country_code  \
0                      Credit             750,000         NaN          BRA
1               Entertainment           1,750,000    acquired          USA
2                       Games           4,000,000   operating          USA
3                   Education              40,000   operating          EST
4                        Apps           1,500,000   operating          GBR
5                    Software             600,000   operating          USA
6                    Software           7,000,000         NaN          USA
7                 Advertising           4,912,393      closed          ARG
8                 Curated Web           2,000,000   operating          NaN
9                    Software                 -     operating          USA
10                  Analytics           1,700,000   operating          USA
11                 E-Commerce              40,000   operating          CHL
12              Entertainment                 -     operating          USA
13        Health and Wellness                 -     operating          USA
14        Health and Wellness           1,750,000   operating          USA
15                Real Estate                 -     operating          USA
16                 E-Commerce           2,050,000   operating          USA
17                     Search              40,000   operating          USA
18                        Art             500,000    acquired          NaN
19                Curated Web                 -     operating          DEU
20                Curated Web           2,535,000    acquired          USA
21                Curated Web           4,462,651   operating          USA
22           Local Businesses           1,869,079   operating          FRA
23                      Games          10,000,000   operating          NaN
24                Hospitality           3,000,000   operating          NaN
25                  Education           3,000,000   operating          CHN
26                  Analytics           1,250,000    acquired          USA
27                   Software          35,000,000   operating          USA
28                Curated Web              50,000      closed          USA
29                 E-Commerce           1,600,000         NaN          NaN
...                        ...                 ...        ...          ...
44920               Messaging             651,000   operating          DEU
44921                  Mobile           3,500,000   operating          NOR
44922                Software             190,000   operating          USA
44923                 Android             100,000   operating          NaN
44924                    News             870,000   operating          USA
44925                  Mobile           3,845,100    acquired          DNK
44926             Health Care          45,750,000   operating          USA
44927                  Mobile                 -        closed          GBR
44928           Manufacturing           9,000,000         NaN          USA
44929                  Design           3,384,225    acquired          FRA
44930              Automotive             800,000      closed          USA
44931              E-Commerce              75,000   operating          USA
44932                Hardware          12,039,999   operating          USA
44933           Biotechnology           2,257,464      closed          USA
44934           Biotechnology          38,900,000   operating          CAN
44935                  Mobile                 -     operating          NaN
44936           Crowdsourcing                 -     operating          GBR
44937         Cloud Computing           3,805,520   operating          ESP
44938   Facebook Applications         866,550,786   operating          USA
44939           Biotechnology          25,000,000   operating          USA
44940                Software          14,750,000   operating          GBR
44941           Biotechnology          34,275,015   operating          USA
44942           Biotechnology          15,398,910      closed          MYS
44943              E-Commerce           1,510,500   operating          USA
44944           Biotechnology           2,686,600   operating          AUT
44945               Analytics             120,000   operating          GBR
44946     Enterprise Software           1,587,301   operating          CHN
44947             Advertising              71,525   operating          HRV
44948                   Games           9,300,000   operating          NaN
44949     Enterprise Software          45,000,000   operating          USA

      state_code                 region                   city  \
0            NaN         Rio de Janeiro         Belo Horizonte
1             NY          New York City               New York
2             CA            Los Angeles            Los Angeles
3            NaN                Tallinn                Tallinn
4            NaN                 London                 London
5             NY          New York City               New York
6             FL         Ft. Lauderdale           Oakland Park
7            NaN           Buenos Aires           Buenos Aires
8            NaN                    NaN                    NaN
9             IL  Springfield, Illinois              Champaign
10            CA            SF Bay Area          Mountain View
11           NaN               Santiago             Las Condes
12            NC         North Carolina      Connellys Springs
13            CA            Los Angeles            Los Angeles
14            NJ                 Newark                 Iselin
15            FL                Orlando                Orlando
16            MD              Baltimore               Woodbine
17            OR       Portland, Oregon            Lake Oswego
18           NaN                    NaN                    NaN
19           NaN                 Berlin                 Berlin
20            CA            SF Bay Area          San Francisco
21            WA                Seattle               Bellevue
22           NaN                  Paris                  Paris
23           NaN                Beijing                Beijing
24           NaN                    NaN                    NaN
25           NaN                Beijing                Beijing
26            CA            SF Bay Area          San Francisco
27            NY          New York City               New York
28            OH              Cleveland              Cleveland
29           NaN                    NaN                    NaN
...          ...                    ...                    ...
44920        NaN                Hamburg                Hamburg
44921        NaN                    NaN              0152 Oslo
44922         UT         Salt Lake City                  Logan
44923        NaN                    NaN                    NaN
44924         CA            SF Bay Area              Los Gatos
44925        NaN             Copenhagen             Copenhagen
44926         MN            Minneapolis             Minnetonka
44927        NaN                 London                 London
44928         CT            Connecticut            Middlefield
44929        NaN                  Paris        Paris-l'hopital
44930         CA                Anaheim                 Irvine
44931         CT               Hartford              Greenwich
44932         CA             California         Redwood Shores
44933         MD               Maryland           College Park
44934         AB              Vancouver              Vancouver
44935        NaN                    NaN                    NaN
44936        NaN                 London                 London
44937        NaN              Barcelona              Barcelona
44938         CA            SF Bay Area          San Francisco
44939         MD               Maryland           Gaithersburg
44940        NaN                   Bath                   Bath
44941         MO               Missouri                Fremont
44942        NaN           Kuala Lumpur  Damansara New Village
44943         MA                 Boston              Cambridge